<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FERRELUIS - Mantenimientos Pendientes</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
    <ul class="izquierdo altura">
      <li class="logo">
        <a href="">FERRELUIS <span class="gear">🔧</span><span class="screw">🪛</span></a>
      </li>
      <li class="tractor">
        <img src="img/tractor.png" alt="" />
      </li>
      <li class="tierra">
        <img src="img/tierra.png" alt="" />
      </li>
    </ul>
    <ul class="derecho altura">
      <li><a href="menu-trabjador.html">Inicio</a></li>
      <li><a href="index.html">Mantenimientos pendientes</a></li>
      <li><a href="realizados.html">Historial de tareaas</a></li>
    </ul>
  </nav>
  
  <div class="fondo-tra">
   <h1>MANTENIMIENTOS PENDIENTES</h1>

    <!-- Tabla de mantenimientos -->
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>MÁQUINA</th>
          <th>MODELO</th>
          <th>TIPO DE MANTENIMIENTO</th>
          <th>FECHA LÍMITE</th>
          <th>ESTADO</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>105</td>
          <td>Tractor</td>
          <td>T02</td>
          <td>Predictivo</td>
          <td>21/05/2025</td>
          <td>☐</td>
        </tr>
        <tr>
          <td>1018</td>
          <td>Excavadora</td>
          <td>CAT 320D</td>
          <td>Preventivo</td>
          <td>24/05/2025</td>
          <td>☐</td>
        </tr>
        <tr>
          <td>1021</td>
          <td>Grúa</td>
          <td>G015</td>
          <td>Correctivo/Predictivo</td>
          <td>07/06/2025</td>
          <td>☐</td>
        </tr>
        <tr>
          <td>104</td>
          <td>Tractor</td>
          <td>T18</td>
          <td>Correctivo</td>
          <td>15/06/2025</td>
          <td>☐</td>
        </tr>
        <tr>
          <td>1015</td>
          <td>Remoledora</td>
          <td>R041</td>
          <td>Preventivo/Correctivo</td>
          <td>07/07/2025</td>
          <td>☐</td>
        </tr>
        <tr>
          <td>1025</td>
          <td>Excavadora</td>
          <td>E049</td>
          <td>Predictivo</td>
          <td>13/07/2025</td>
          <td>☐</td>
        </tr>
      </tbody>
    </table>

    <!-- Botón para actualizar estado -->
    <div class="boton-actualizar">
      <button>Actualizar Estado</button>
    </div>

    <!-- Imagen motivacional -->
    <div class="imagen">
      <img src="img/666.jpg" alt="Motivación" />
    </div>
  
  
  </div>
  
    <!-- Título principal -->
   
  </body>
</html>
