<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="Estilos-inicio.css" />

  <body>
    <nav>
      <ul>
        <li class="logo">
          <a href=""
            >FERRELUIS <span class="gear">🔧</span
            ><span class="screw">🪛</span></a
          >
        </li>
        <li class="tractor">
          <img src="img/tractor.png" alt="" />
        </li>
        <li class="tierra">
          <img src="img/tierra.png" alt="" />
        </li>
        <li><a href="">Inicio</a></li>
        <li><a href="registro_maquinaria.html">Registrar servicio</a></li>
        <li><a href="Pago(1).html">Pago</a></li>
        <li><a href="gestionar_tecnico.html">Gestionar técnico</a></li>
      </ul>
    </nav>
    <div>
      <div class="fondo-arriba">
        <div class="presentacion">
          <div>
            <h1>¿Estás listo para reparar?</h1>
          </div>
        </div>
      </div>
      <div class="fondo-abajo">
        <p>
          El deber te espera. Cada mantenimiento es un paso hacia la excelencia.
        </p>
      </div>
    </div>
  </body>
</html>
