<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FERRELUIS - Mantenimientos Realizados</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <nav>
    <ul class="izquierdo altura">
      <li class="logo">
        <a href="">FERRELUIS <span class="gear">🔧</span><span class="screw">🪛</span></a>
      </li>
      <li class="tractor">
        <img src="img/tractor.png" alt="" />
      </li>
      <li class="tierra">
        <img src="img/tierra.png" alt="" />
      </li>
    </ul>
    <ul class="derecho altura">
      <li><a href="menu-trabjador.html">Inicio</a></li>
      <li><a href="index.html">Mantenimientos pendientes</a></li>
      <li><a href="realizados.html">Historial de tareaas</a></li>
      <li><a href="Login.html" class="cerrar">Cerrar Sesión</a></li>
    </ul>
  </nav>
  <div class="fondo-tra">

      <div class="unico">
      <h1>MANTENIMIENTOS REALIZADOS</h1>

      <!-- Tabla de mantenimientos -->
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>MÁQUINA</th>
            <th>MODELO</th>
            <th>TIPO DE MANTENIMIENTO</th>
            <th>FECHA REALIZADA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1001</td>
            <td>Tractor</td>
            <td>T01</td>
            <td>Correctivo</td>
            <td>10/04/2025</td>
          </tr>
          <tr>
            <td>1002</td>
            <td>Excavadora</td>
            <td>CAT 312D</td>
            <td>Preventivo</td>
            <td>15/04/2025</td>
          </tr>
          <tr>
            <td>1003</td>
            <td>Grúa</td>
            <td>G010</td>
            <td>Predictivo</td>
            <td>21/04/2025</td>
          </tr>
          <tr>
            <td>1004</td>
            <td>Remoledora</td>
            <td>R039</td>
            <td>Correctivo</td>
            <td>02/05/2025</td>
          </tr>
          <tr>
            <td>1005</td>
            <td>Tractor</td>
            <td>T15</td>
            <td>Preventivo</td>
            <td>11/05/2025</td>
          </tr>
        </tbody>
      </table>

      <!-- Imagen motivacional -->
      <div class="imagen">
        <img src="img/bien.jpg" alt="Motivación" />
      </div>
      </div>
    <!-- Título principal -->




  </div>

</body>

</html>