<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>Registro de Maquinaria</title>
  <link rel="stylesheet" href="registro_maquinaria.css" />
</head>

<body>
  <nav>
    <ul class="izquierdo altura">
      <li class="logo">
        <a href="">FERRELUIS <span class="gear">🔧</span><span class="screw">🪛</span></a>
      </li>
      <li class="tractor">
        <img src="img/tractor.png" alt="" />
      </li>
      <li class="tierra">
        <img src="img/tierra.png" alt="" />
      </li>
    </ul>
    <ul class="derecho altura">
      <li><a href="Inicio.html">Inicio</a></li>
      <li><a href="registro_maquinaria.html">Registrar servicio</a></li>
      <li><a href="gestionar_tecnico.html">Gestionar técnico</a></li>
      <li><a href="Historial-pago.html">Historial de pago</a></li>
      <li><a href="Login.html" class="cerrar">Cerrar Sesión</a></li>
    </ul>
  </nav>


  <h2>REGISTRO DE MAQUINARIA</h2>
  <div class="form-container">
   <form action="/registrar" method="post">
      <h3>DATOS DEL CLIENTE</h3>
      <hr>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" placeholder="Carlos" />
      </div>

      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" name="apellido" placeholder="Ramírez" />
      </div>

      <div class="form-group">
        <label for="celular">Número de Celular</label>
        <input type="text" id="celular" name="numeroCelular" placeholder="987654321" />
      </div>

      <div class="form-group">
        <label for="email">Gmail</label>
        <input type="email" id="gmail" name="gmail" placeholder="carlos.ramirez@gmail.com" />
      </div>
      <h3>DATOS DE LA MAQUINARIA</h3>
      <hr>
      <div class="form-group">
        <label for="id_maquinaria">ID de Maquinaria</label>
        <input type="text" id="id_maquinaria" name="IDMaquinaria" placeholder="MCH-1023" />
      </div>

      <div class="form-group">
        <label for="marca">Marca</label>
        <input type="text" id="marca" name="marca" placeholder="Caterpillar" />
      </div>

      <div class="form-group">
        <label for="modelo">Modelo</label>
        <input type="text" id="modelo" name="modelo" placeholder="320D2" />
      </div>

      <div class="form-group">
        <label for="num_serie">Número de Serie</label>
        <input type="text" id="num_serie" name="numeroSerie" placeholder="CAT0320DEWRN00123" />
      </div>

      <div class="form-group">
        <label for="tipo">Tipo de Maquinaria</label>
        <select id="tipo" name="tipoMaquinaria">
          <option selected disabled>Seleccione un tipo</option>
          <option value="Excabadora">Excavadora</option>
          <option value="Cargadora">Cargadora</option>
          <option value="Retroexcabadora">Retroexcavadora</option>
          <option value="Topadora">Topadora</option>
        </select>
      </div>

      <div class="form-group">
        <label for="anio">Año de Fabricación</label>
        <input type="number" id="anio" name="anioFabricacion" placeholder="2024" min="1900" max="2025"/>
      </div>

      <div class="form-group">
        <label for="num_motor">Número de Motor</label>
        <input type="text" id="num_motor" name="numeroMotor" placeholder="C7N-00235" />
      </div>
      <div class="form-group">
        <label for="horasOperacion">Horas de Operación</label>
        <input type="number" id="horasOperación" name="horasOperacion" placeholder="Ingrese cantidad de horas"
          min="0" />
      </div>

      <div class="form-group">
        <label for="kilometraje">Kilometraje</label>
        <input type="number" id="kilometraje" name="kilometraje" placeholder="Ingrese el kilometraje" min="0" />
      </div>
      <input type="submit" class="btn-enviar" />
    </form>
  </div>
</body>

</html>
