body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd;
    padding: 20px;
  }

  h1 {
    text-align: center;
    color: #0da126;
  }

  .form-container {
    max-width: 900px;
    margin: 0 auto 20px;
    background-color: #4a994e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
  }

  .form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }

  .form-group label {
    flex: 1 1 45%;
    font-weight: bold;
    color: #104b27;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #e1f5fe;
  }

  .botones {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  .botones button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #58b813;
    color: white;
    border: none;
    border-radius: 5px;
  
    opacity: 0.7;
  }
  

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
  }

  th, td {
    border: 1px solid #346e2e;
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #1cb135;
    color: rgb(22, 88, 42);
  }